

<!-- Testimonial -->
<div class="testimonial">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
             I have tried a lot of watch delivery services but Plate is something out of this world! Their watch is really good and it  great, which is why I recommend this Goldex Shop to all my friends💖
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <img src="https://i.ibb.co/zfXD2Tx/user-1.png" alt="" />
          <h3>Marta W.</h3>
        </div>
  
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
             I have tried a lot of watch delivery services but Plate is something out of this world! Their watch is really good and it  great, which is why I recommend this Goldex Shop to all my friends💖
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <img src="https://i.ibb.co/FVyK1KM/user-2.png" alt="" />
          <h3>Rula P.</h3>
        </div>
  
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
             I have tried a lot of watch delivery services but Plate is something out of this world! Their watch is really good and it  great, which is why I recommend this Goldex Shop to all my friends💖
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <img src="https://i.ibb.co/jZ3tQqK/user-3.png" alt="" />
          <h3>Vika Z.</h3>
        </div>
      </div>
    </div>
  </div>