<div class="brands">
    <div class="small-container">
      <div class="row">
        <div class="col-5">
          <img src="https://i.ibb.co/Gfwzz1S/logo-godrej.png" alt="" />
        </div>
  
        <div class="col-5">
          <img src="https://cdn.dribbble.com/users/3480894/screenshots/17745481/boat-01.png" alt="" />
        </div>
  
        <div class="col-5">
          <img src="https://i.ibb.co/3zs234S/logo-coca-cola.png" alt="" />
        </div>
  
        <div class="col-5">
          <img src="https://static.vecteezy.com/system/resources/previews/024/273/827/original/realme-logo-transparent-free-png.png" alt="" />
        </div>
  
        <div class="col-5">
          <img src="https://i.ibb.co/GVSNwJD/logo-philips.png" alt="" />
        </div>
        <div class="col-5">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-razorpay-1649771-1399875.png" alt="" />
        </div>
      </div>
    </div>
  </div>