

<app-headersection></app-headersection>
<!-- shop section start-->

<app-watches></app-watches>
 <!-- shop section end-->



 <nav class="float-action-button">
   <a href="#" class="buttons" title="Google+" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-google-plus"></i>
         </a>
 
   
 
   <a  href="https://instagram.com/diptanub__?igshid=MzRlODBiNWFlZA==" target="_blank" class="buttons" title="Twitter" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-instagram"></i>
         </a>
 
   <a href="https://www.linkedin.com/in/diptanubaidya" target="_blank" class="buttons" title="Instagram" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-linkedin"></i>
         </a>
 
         <a href="https://twitter.com/diptanubaidya13" target="_blank" class="buttons" title="Twitter" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-twitter"></i>
         </a>
 
   <a href="https://www.facebook.com/diptanu.baidya.75?mibextid=ZbWKw" target="_blank" class="buttons" title="Facebook" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-facebook"></i>
         </a>
 
   <a href="#" class="buttons main-button" title="Share" data-toggle="tooltip" data-placement="left">
           <i class="fa fa-times"></i>
           <i class="fa fa-share-alt"></i>
         </a>
 </nav>



<!-- feature section -->

<app-features></app-features>

<div class="my-4">
   <app-watchgallary></app-watchgallary> 
</div>


<!-- end feature section -->
<div class="my-4">
<!-- about section -->
<!-- <app-about></app-about> -->
<app-fullabout></app-fullabout>
<!-- end about section -->
</div>


<!-- contact section -->
<app-contact></app-contact>

<!-- end contact section -->

<div class="my-5">
   <app-videoclip></app-videoclip>
</div>



<!-- client section -->

<app-clients></app-clients>
<!-- end client section -->


<app-partners></app-partners>







