


 <div class="container mx-auto mt-4 trending">
  <div class="row">
      <div class="col-md-12">
          <h2 class="">Trending <b>Products</b></h2>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
              <!-- Carousel indicators -->
              <div class="carousel-indicators">
                <!-- <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol> -->
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner">
                  <div class="item carousel-item active">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/1.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Apple Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/2.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Sony Watch</h4>
                                      <p class="item-price"><span>₹1330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a href="#" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/3.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Casiuo Watch</h4>
                                      <p class="item-price"><span>₹4330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/4.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Nikon Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item carousel-item">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/5.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Rolex Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/6.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Redmi Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/7.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Bose Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/8.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Samsung Watch</h4>
                                      <p class="item-price"><span>₹2930.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item carousel-item">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/9.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Noise Watch</h4>
                                      <p class="item-price"><span>₹1330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/10.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Realme Watch</h4>
                                      <p class="item-price"><span>₹1330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/11.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Boat Watch</h4>
                                      <p class="item-price"><span>₹2130.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="../../assets/WatchImage/12.webp" class="img-responsive img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Apple Watch</h4>
                                      <p class="item-price"><span>₹3330.00</span></p>
                                      <div class="star-rating">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                              <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          </ul>
                                      </div>
                                      <a routerLink="/userlogin" class="btn btn-primary">Add to Cart</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Carousel controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <a class="carousel-control left carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
              </a>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <a class="carousel-control right carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
                  <i class="fa fa-angle-right"></i>
              </a>
              </button>
          </div>
      </div>
  </div>
</div>


