<div class="hero_area">

    <div class="hero_social">
      <a href="https://www.facebook.com/diptanu.baidya.75?mibextid=ZbWKw" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://instagram.com/diptanub__?igshid=MzRlODBiNWFlZA==" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/diptanubaidya" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://instagram.com/diptanub__?igshid=MzRlODBiNWFlZA==" target="_blank" >
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>





    <section class="slider_section ">
  
  
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p id="line">
                      Versatility of smartwatches, which can be used for a variety of tasks, such as making calls, sending
                      texts, checking emails, tracking fitness, and more.
                    </p>
                    <div class="btn-box">
                      <a routerLink="/contact" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p id="line">
                      Emphasizes the convenience of smartwatches, which can be used to stay connected and informed without
                      having to take out your phone.
                    </p>
                    <div class="btn-box">
                      <a routerLink="/contact" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../assets/images/slider2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p id="line">
                      Smartwatches are more than just a way to tell time, but also a powerful tool that can improve your
                      life in many ways.
                    </p>
                    <div class="btn-box">
                      <a routerLink="/contact" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../assets/images/slider3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
      </div>
  
    </section>
  </div>

  
 
  
 