
<section class="text-center about">
  <h1>About US</h1>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <span class="fa fa-group"></span>
              <h2>Employees</h2>
              <p class="lead">They are able to work independently and as part of a team, and they are always willing to go the extra mile. They are also able to take constructive feedback and use it to improve their performance.</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <span class="fa fa-info" routerLink="/faq"></span>
              <h2>Questions</h2>
              <p class="lead">FAQs are typically used to provide quick and easy answers to common questions, so that users can find the information they need without having to search through a lot of text.
              </p>
          </div>
          <div class="clearfix visible-md-block visible-sm-block"></div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <span class="fa fa-file"></span>
              <h2>Documents</h2>
              <p class="lead">A website document is a written description of a website's content, structure, and functionality. It is used to communicate the website's requirements to the development team and to ensure that everyone is on the same page.</p>
          </div>

      </div>

  </div>
</section>

<div class="container my-5">


  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="../assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
             
            </div>
            <p style="text-align: justify;">
              At Goldex, we believe that smartwatches are the future of wearable technology. They're more than just a way to tell time; they can track your fitness goals, provide you with notifications from your smartphone, and even allow you to make phone calls and send messages directly from your wrist.
              <br>
              We're committed to providing our customers with the best possible selection of smartwatches from the top brands in the industry. We also offer a wide range of accessories, such as cases, bands, and chargers, to help you customize your smartwatch to your liking.
              <br>
              Whether you're a fitness enthusiast, a business professional, or just someone who wants to stay connected on the go, we have a smartwatch that's perfect for you. Shop our selection today and experience the future of wearable technology for yourself!
              <br>
              At Goldex, we believe that smartwatches are the future of wearable technology. They're more than just a way to tell time; they can track your fitness goals, provide you with notifications from your smartphone, and even allow you to make phone calls and send messages directly from your wrist.
              <br>
              We're committed to providing our customers with the best possible selection of smartwatches from the top brands in the industry. We also offer a wide range of accessories, such as cases, bands, and chargers, to help you customize your smartwatch to your liking.
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<div class="feat bg-gray pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-head col-sm-12">
        <h4><span>Why Choose</span> Us?</h4>
        <p>When you choose us, you'll feel the benefit of 1 years' experience of  E-Commerce. Because we know the digital world and we know that how to handle it. With working knowledge of online and social Culture.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
          <h6>Modern Design</h6>
          <p>We use latest technology for the latest world because we know the demand of peoples.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
          <h6>Creative Design</h6>
          <p>We are always creative and and always lisen our costomers and we mix these two things and make beast design.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
          <h6>24 x 7 User Support</h6>
          <p>If our customer has any problem and any query we are always happy to help then.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
          <h6>Business Growth</h6>
          <p>Everyone wants to live on top of the mountain, but all the happiness and growth occurs while you're climbing it</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
          <h6>Market Strategy</h6>
          <p>Holding back technology to preserve broken business models is like allowing blacksmiths to veto the internal combustion engine in order to protect their horseshoes.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
          <h6>Affordable cost</h6>
          <p>Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.</p>
        </div>
      </div>
    </div>
  </div>
</div>
