<section class="text-center about">
    <h1>About US</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <h2>Employees</h2>
                <p class="lead">They are able to work independently and as part of a team, and they are always willing to go the extra mile. They are also able to take constructive feedback and use it to improve their performance.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-info" routerLink="/faq"></span>
                <h2>Questions</h2>
                <p class="lead">FAQs are typically used to provide quick and easy answers to common questions, so that users can find the information they need without having to search through a lot of text.
                </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-file"></span>
                <h2>Documents</h2>
                <p class="lead">A website document is a written description of a website's content, structure, and functionality. It is used to communicate the website's requirements to the development team and to ensure that everyone is on the same page.</p>
            </div>

        </div>

    </div>
</section>