<main>

    <section class="faq">
        <h1>Frequently Asked Questions</h1>

        <div class="faq-container">
            <details class="faq-box" open>
                <summary class="faq-header">
                    What is Goldex Buyer Protection?
                </summary>
                <div class="faq-content">
                    <p>
                        Goldex Buyer Protection helps shoppers in case they have concerns with product(s) bought and
                        haven't got a satisfactory solution from the seller.
                        <br>
                        <br>
                        Under this program, we look into your concern on a case-by-case basis & do our best to be fair
                        to both parties. Goldex's decision on the resolution will be final for the concern raised.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    What are the modes of refund available after cancellation?
                </summary>
                <div class="faq-content">
                    <p>
                        The different modes of refund available are:
                        <br>
                        <br>
                        Payment mode: Cash on Delivery
                        <br>
                        <br>
                        1. UPI (Amount less than Rs 1000) - Refund will be processed to the UPI account for which UPI ID
                        has to be shared
                        2. Gift Card (Amount less than Rs 10000) - Refund will be processed to Gift Card account
                        3. Bank account (IMPS/NEFT) - Refund will be processed to bank account for which bank details
                        have to be shared
                        <br>
                        <br>
                        Payment mode: Prepaid
                        <br>
                        <br>
                        1. Back to source - Refund will be processed to the payment mode(Debit/Credit card, NEFT, UPI)
                        used to pay for the order
                        2. Gift Card (Amount less than Rs 10000) - Refund will be processed to Gift Card account.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    How do returns work?
                </summary>
                <div class="faq-content">
                    <p>
                        You can raise a request to return your items with these simple steps:
                        <br>
                        <br>
                        1. Log into your Goldex account
                        <br>
                        <br>
                        2. Go to My Orders
                        <br>
                        <br>
                        3. Click on 'Return' against the item you wish to return or exchange
                        <br>
                        <br>
                        4. Fill in the details and raise a return request
                        <br>
                        <br>
                        Once you raise a request, you'll get an email and SMS confirming that your request is being
                        processed. Based on the item, your request may be automatically approved or you may be contacted
                        for more details. If the request is approved, the item will be picked up after which you will
                        get a replacement or refund. You can also track the status of your return request instantly from
                        the 'My Orders' section of your Goldex account.
                    </p>
                </div>
            </details>

            <details class="faq-box">
                <summary class="faq-header">
                    How does Goldex prevent card fraud?
                </summary>
                <div class="faq-content">
                    <p>
                        Online payments are monitored by our systems for any suspicious activity and some transactions
                        are verified through extensive checks if we find that they are not authorised by the owner of
                        the card. When we're not able to rule fraud out in rare cases, the transaction is kept on hold
                        and we ask the shopper to share relevant proofs. This is done to make sure that the transaction
                        is genuine and authorised.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    How quickly can I get my order delivered?
                </summary>
                <div class="faq-content">
                    <p>
                        Orders will be delivered by the date you see on the product page for your location.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    What is Cash on Delivery?
                </summary>
                <div class="faq-content">
                    <p>
                        Cash on Delivery is a mode of payment in which you can pay cash at the time of delivery of your
                        order. You can also pay using a credit card/ debit card if the Courier Executive carries a
                        swiping machine.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    I missed the delivery of my order today. What should I do?
                </summary>
                <div class="faq-content">
                    <p>
                        The courier service delivering your order usually tries to deliver on the next business day in
                        case you miss a delivery.
                        <br>
                        <br>
                        You can check your SMS for more details on when the courier service will try to deliver again.
                    </p>
                </div>
            </details>
            <details class="faq-box">
                <summary class="faq-header">
                    Can I take the shipment after opening and checking the contents inside?
                </summary>
                <div class="faq-content">
                    <p>
                        As per company policy, a shipment can't be opened before delivery, but you can accept the
                        shipment and get in touch with us later in case you have any concerns.
                    </p>
                </div>
            </details>

            <details class="faq-box">
                <summary class="faq-header">
                    How do I pay using Goldex's credit card EMI option?
                </summary>
                <div class="faq-content">
                    <p>
                        When you're prompted to choose a payment method for your order, select EMI and then choose the
                        bank and the plan you would prefer. Enter your credit card and follow the prompts. Once the
                        payment is authorised, your order will be processed and shipped.
                        <br>

                        You'll need to pay the total amount in the predetermined number of instalments as per your
                        credit card billing cycles.
                        Please note, an amount equivalent to your card limit will be blocked on the day of the
                        transaction, your card limit will be reset with every successful EMI payment.
                    </p>
                </div>
            </details>

            <details class="faq-box">
                <summary class="faq-header">
                    How do I check if a cashback is applied to my order?
                </summary>
                <div class="faq-content">
                    <p>
                        If you have successfully applied the offer, you can find it in the 'Orders' section under
                        'Account'. If you do not see the offer applied, please review the terms and conditions of the
                        offer to determine if it was applicable to your order. Check for the purchase date, total order
                        value, payment method, and any maximum cashback or discount per transaction or card as outlined
                        in the offer.
                    </p>
                </div>
            </details>
        </div>
    </section>

</main>


<div class="fab-wrapper">
    <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
    <label class="fab" for="fabCheckbox">
      <span class="fab-dots fab-dots-1"></span>
      <span class="fab-dots fab-dots-2"></span>
      <span class="fab-dots fab-dots-3"></span>
    </label>
    <div class="fab-wheel">
      <a class="fab-action fab-action-1 float-end"  routerLink="/customer">
        <i class="fa fa-cart-plus"  style="font-size:24px"></i>
      </a>
     
      <a class="fab-action fab-action-2" >
        <i class="fa fa-inr"></i>
      </a>
          <a class="fab-action fab-action-3">
        <i class="fa fa-gear"></i>
      </a>
      
    </div>
  </div>