<section class="feature_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
              Features Of Our Watches
            </h2>
            <p>
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Fitness Tracking
                        </h5>
                        <p>
                            Get deep insights into your health,high or low heart rate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Alerts & Notifications
                        </h5>
                        <p>
                            Get your all Alerts & Notifications i your watch
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Messages
                        </h5>
                        <p>
                            The smartwatch features remote message control 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Bluetooth
                        </h5>
                        <p>
                            Talk through your wrist with Titan Talk S BT Calling.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f5.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Touchscreen
                        </h5>
                        <p>
                            HD Display with 2.5D Curved Glass | 240*286 Pixel High Resolution
                        </p>
                    </div>
                </div>
            </div>
      

            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f6.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            100+ Sports Modes
                        </h5>
                        <p>
                            Sweat it, play it. Challenge yourself and track your 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f7.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Wireless Connect
                        </h5>
                        <p>
                            Connect your audio device  on your watch. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="../assets/images/f8.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Simply Compatible
                        </h5>
                        <p>
                            It works seamless  your devices services. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>